:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --size--btn: 60px;
  --font-size: 18px;
  --base-space: 8px;
  --size-border: 4px;
  --size-thumbnail: 50px;

  /* animation */
  --animation-duration: 300ms;
}
* {
  box-sizing: border-box;
}
html {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-black);
}
.logo {
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
}
.logo:hover {
    transform: scale(1.1);
}
.buttons {
    display: flex;
    align-items: center;
}
.btn {
    margin-right: var(--base-space);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: transform var(--animation-duration) ease;
}
.btn:hover {
    transform: scale(1.1);    
}
.imgBtn {
    width: var(--size--btn);
    height: var(--size--btn);
}
.colorBtn {
    padding: calc(var(--base-space) * 2);
    font-size: var(--font-size);
    border-radius: var(--size-border);
}
.blue {
    background-color: var(--color-blue);
}
.yellow {
    background-color: var(--color-yellow);
}
.pink {
    background-color: var(--color-pink);
}
.items {
    width: 40%;
    height: 60%;
    padding: 0;
    overflow-y: auto;
    list-style: none;
}
.item {
    display: flex;
    margin-bottom: var(--base-space);
    padding: var(--base-space);
    align-items: center;
    background-color: var(--color-white);
}
.item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
}
.item__description {
    margin-left: var(--base-space);
    font-size: var(--font-size);
}
